/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/example/dist/purescript-soundfonts.js
/example/.psc-ide-port
/example/bower_components/
/example/output/
/.psc*
/.purs*
/.psa*
/.spago/
